*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    overflow: hidden;
}
header{
	height: 101px;
    background-color: #55d4eb;
    margin-bottom: 15px;
}
#mid{
	font-size: 0;
}
#sidebar{
    display: inline-block;
    width: 30%;
    height: 500px;
    background-color: #a0c263;
    margin-right: 15px;
}
.rightside{
   display: inline-block;
    width: calc(70% - 15px);
}
#main{
    background-color: #f5c531;
    height: 350px;
}
#extra{
    margin-top: 15px;
    height: calc(150px - 15px);
    background-color: #898989;
	}
.text{
	text-align:center;
	top:20px;
	position:relative;
	font-size:24px;
	font-weight:bold;
	color:white;
}
footer{
    height: 101px;
    background-color: #ffa500;
    margin-top: 15px;
}