*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
	}
body{
	width:100vw;
	height:100vh;
	font-size:0px;
	
	}

header{
	height:20%;
	background-color:#ff4da6;
	display:block;
	margin-bottom:15px;
}
.mid{
	width:100%;
	height:60%;
	display:inline-block;
}
#lside{
	width:70%;
	display:inline-block;
	height:100%;
	background-color:#ff037e;
	margin-right:15px;	
	
	}
#rside{
	display:inline-block;
	width:calc(30% - 15px);
	height:100%;
	background-color:#ce0468;
	}


footer{
	display:block;
	background-color:#802755;
	height:20%;
	margin-top:15px;
}