@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
header{
	display:block;
	height:85px;
	background-color:#55d4eb;
	margin-bottom:15px;
}
#mid{
	display:block;
	height:500px;
}
#sidebar{
	display:inline-block;
	width:30%;
	height:500px;
	background-color:#a0c263;
	left:0;
	position:absolute;
	margin-right:15px;
}
#main{
	height:400px;
	display:inline-block;
	background-color:#f5c531;
	width:68.5%;
	position:absolute;
	margin-left:15px;
	right:0;
	}
#extra{
	display:inline-block;
	width:68.5%;
	height:85px;
	background-color:#898989;
	margin-top:15px;
	position:absolute;
	margin-left:15px;
	right:0;
	top:500px;
	}
.text{
	text-align:center;
	top:20px;
	position:relative;
	font-size:24px;
	font-weight:bold;
	color:white;
}
footer{
	display:block;
	height: 114px;
	background-color:#ffa500;
	margin-top:15px;
	position:static;
}
