@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 19%;
    background-color: #ff4da6;
    margin-bottom: 1%;
}
main{
    
    height: 60%;
    background-color: white;
    width: 100%;
}
#lside{
    float: left;
    background-color: #ff037e;
    height: 100%;
    width: 70%;
}
#rside{
    float: right;
    background-color: #ce0468;
    height: 100%;
    width: 29%;
}
footer{
    width: 100%;
    height: 19%;
    margin-top: 1%;
    background-color:#802755;
}

