*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: #e70000;
    height:730px;
}
p{
	
    color: #ef9294;
	word-spacing: 4px;
	margin-top: 4%;
    color: #f49494;
    text-align: left;
    font-size: 18px;
    padding-left: 10%;
}

.content{
    height:365px;
    font-size: 0;
    padding-top: 65px;
}
.heading{
    margin-right:700px; 	
}
img{
	background-size:cover;
}
.head{
    font-size: 40px;
    margin-bottom: 24px;
}
.heading,.logo{
    display: inline-block;   
}
#article{
    height:365px;
    font-size: 0;
    width:100%;
}
#box1{
    display: inline-block;
    background-color: #571212;   
    height: 100%;
    margin-right:10px;
    width:calc((100% - 20px)/3)
}
#box2{
    display: inline-block;
    background-color: #571212;
    height: 100%;
    margin-right:10px;
    width:calc((100% - 20px)/3)
}
#box3{
    display: inline-block;
    background-color: #571212;
    height: 100%;
    width:calc((100% - 20px)/3)
}
.boxhead{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#fce4e4;
	padding-top:8%;
	padding-left:3%;
	font-weight:bold;
	margin-bottom:50px;}
.con{
	margin-top: 4%;
    color: #f49494;
    text-align: left;
    font-size: 18px;
    padding-left: 5%;
    margin-top: 10% 
	font-family:Arial, Helvetica, sans-serif;	
	}