*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* importing fonts*/
@font-face {
    font-family:Montserrat-Medium ;
    src: url(./font/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family:Montserrat-Bold ;
    src: url(./font/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family:Quicksand-SemiBold ;
    src: url(./font/Quicksand/static/Quicksand-SemiBold.ttf);
}
/* @font-face {
    font-family: ;
    src: url;
} */
body{
    font-size:16px;
    font-family:Montserrat-Medium;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 0;
}
li{
    list-style-type: none;
}
/* designing container */
.container{
    max-width: 1500px;
    margin: 0 auto;
}
.container2{
    max-width: 1200px;
    margin: 0 auto;
}
/* making all reusable flex class*/
.flex-space-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.flex4{
    display: flex;
}
.gap30{
    gap: 30px;
}

/* nav designing*/
nav{
    position: fixed;
    width:100%;
    z-index: 4;
    background-color: #000;
    padding: 20px 0;
}
nav i{
    color: yellow;
}
nav ul{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}
nav a{
    color: white;
}
nav a:hover{
    color:#ffb142;
    transition: ease all 0.2s;
}
/* hero-section designing*/
.lside{
    width:30%;
    background-color:#000;
    position: relative;
}
.social{
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 20px;
}
.social i:hover{
    color:#ffb142;
    transition: ease all 0.3s;
}
.fol{
    writing-mode: vertical-lr;
    text-orientation: upright;
    /* letter-spacing: 2px; */
    color: #fff;
}
.social i{
    color:#fff;
    margin:10px 0;
    
}
.line{
    height: 100px;
    border-left:1px solid #fff;
    margin-left: 8px;
    margin-top:5px;
    margin-bottom: 5px;
}

.rside{
    width:70%;
    background-image:url(./Assets/six.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    position: relative;
}
.hero{
    display:flex;
}
.sub-box{
    position: absolute;
    width:300px;
    height:470px;
    background-image:url(./Assets/Four.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    top:50%;
    left: 100%;
    transform: translate(-50%,-40%);
    z-index: 3;
}
.text-box{
    position: absolute;
    bottom:80px;
    left:220px;
}

.milan{
    font-size: 24px;
    color: #fff;
    font-weight: 900;
}
.heading{
    font-size: 110px;
    color:#ffb142;
    margin:30px 0;
}
.large{
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.primary{
    padding:10px 25px;
    border-radius: 25px;
    border: 2px solid #ffb142;
    font-weight: 900;
    color:#fff;
    margin-top: 30px;
    position: relative;
}
/* .primary::after{
    content:'';
    position: absolute;
    background: ;
} */
.primary:hover{
    background-color: #ffb142;
    transition: ease all 0.3s;
}
/* designing section3*/
.section2{
    padding: 80px 0;
    background-color: #f6f6f6;
}
.lcontent2{
    width:60%;
}
.content2{
    width:30%;
}
.heading2{
    color: #ffb142;
    letter-spacing: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.head{
    font-size: 44px;
    width: 60%;
    font-weight: bolder;
    margin-bottom: 30px;
}
.con1{
    font-size:18px;
    margin-bottom: 30px;
    font-weight: lighter;
    line-height: 35px;
    width: 90%;
}
.con2{
    font-size:18px;
    margin-bottom: 5px;
    font-weight: lighter;
    line-height: 35px;
    color: #a66363;
    width:85%;
}
.service-box{
    width:30%;
}
.rcontent2{
    width:30%;
    position: relative;
}
.text-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* designing section2*/
.number{
    font-size:108px;
    /* font-family: "Montserrat", sans-serif; */
    -webkit-text-stroke: 1px rgba(7, 7, 7, 0.608);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(6, 6, 6, 0.608);
    color: transparent;
    margin-bottom: 10px;
}
.years{
    font-size: 48px;
    color: #ffb142;
    margin-bottom: 10px;
}
.content3{
    width:70%;
    letter-spacing: 3px;
    color: #000;
}
/* designing section3*/
.section3{
    padding-top: 80px;
}
.lside3{
    width:50%;
    background-image: url(./Assets/two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* min-height: 600px; */
}
.rside3{
    width:50%;
}
.upper-content{
    /* height: 50%; */
    padding: 80px;
}
.lower-content{
    /* height:50%; */
    padding:80px;
    background-color: #ffb142;
}
.upper-content p{
    font-size:16px;
    color:#a66363;
    line-height: 30px;
}
.lower-content p{
    font-size:22px;
    color:#000;
    font-family: Montserrat-Bold;
    font-weight: 900;
    width: 320px;
    line-height: 40px;
}
.mid-content{
    display: flex;
}
/* section 4 designing starts*/
.left-side4{
    width:50%;
    
}
.right-side4{
    width: 50%;
}
.img4-container{
    margin-bottom: 20px;
}
.heading4{
    font-size: 24px;
    font-family:Montserrat-Bold  ;
    /* margin-bottom: 30px; */
}
.con4{
    color:#9a918d;
    font-size:16px;
    font-weight: lighter;
    width:80%;
}
.upper-con{
    padding:40px;
}
.lower-con{
    padding:40px;
}
.upper-con:hover{
    box-shadow: 5px 2px 15px grey;
    transition: ease all 0.3s;
}
.lower-con:hover{
    box-shadow: 5px 2px 15px grey;
    transition: ease all 0.3s;
}
.section4 a{
    font-size: 24px;
    font-family:Montserrat-Bold  ;
    margin-bottom: 30px;
    padding: 5px;
}
.section4 a:hover{
    color: #ffb142;
    transition: ease all 0.3s;
}

/* section 5 designing*/
.section5{
    padding:80px 0 ;
}
.person1{
    margin-bottom: 50px;
    position: relative;
}
.designation{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    background-color: #fff;
}
.left-team{
    width: 49%;
}
.right-team{
    width: 49%;
}
.section5 img{
    width: 100%;
}
.name{
    font-size: 24px;
    font-weight: 700;

}
.position{
    text-transform: uppercase;
    font-family: 16px;
    color: #978c8d;
    letter-spacing: 15px;
}
.textbox{
    padding: 20px 35px;
}
/* footer container designing starts*/

footer{
    background-color: #212122;
    /* min-height: 400px; */
    color: white;
    position: relative;
    padding: 80px 0;
}
.map{
    width: 25%;
    height:100%;
    position: absolute;
    right:0;
    top: 0;
    background-color: #fff;
}
.footer-container::before{
    content: 'CITISCAPE';
    text-transform: lowercase;
    position: absolute;
    top: -90px;
    left: -100px;
    font-size: 152px;
    color: #19191a;
    font-family: Quicksand-SemiBold;
    letter-spacing: 10px;
}
footer i{
    color: white;
}
.footer-container{
    max-width: 900px;
    margin:0 auto;
    position: relative;
    z-index: 2;
}
.lfooter{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.locate{
    margin-bottom: 20px;
}
.gmail{
    margin-top: 20px;
}
.lfooter{
    width:40%;
}
.rfooter{
    width:40%;
    
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}
form{
    margin-top: 74px;
}
.subscribe a{
    padding: 10px 30px;
    border: 1px solid #ffb142;
    border-radius: 20px ;
    color: #ffb142;
    font-weight: 700;

}
.rfooter input{
    background: transparent;
    border-bottom:1px solid #f5543f;
    border-right: none;
    padding:15px 0;
}
.footer-heading{
    color:#fff;
    font-size: 52px;
}
.lfooter p{
    color:#9a918d;
}
.gmail a{
    color:#9a918d;
    padding:5px 5px 5px 0;
}
label{
    color: #9a918d;
}
.social-footer a{
    padding:20px;
}
.media i:hover{
    color: #ffb142;
}
.gmail a:hover{
    color:#ffb142;
}
.social-footer a:first-child{
    padding-left: 0;
}
.footer-content{
    position: relative;
    z-index: 4;
    min-height:388px;
}
.copy-right p{
    color: #9a918d;
}
.copy-right{
    margin-top: auto;
}
.map-pic{
    width:100%;
    height: 100%;
}
.subscribe a:hover{
    background-color: #ffb142;
    color: #fff;
    transition: ease all 0.3s;
}
.locate p{
    margin-bottom: 10px;
}