*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
@font-face {
    font-family:SpaceGrotesk ;
    src: url(./Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}
body{
    font-family: SpaceGrotesk;
    font-size:16px;
}
/* header designing strats from here */

.wrapper{
    max-width:1400px;
        width:100%;
        margin:0 auto;
    }
    .flexspacebetween{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .flex{
        display:flex;
        gap:10px;
        flex-wrap: wrap;
    }
    .flex-no-wrap{
        display:flex;
        gap:10px;
        
}
.details{
    padding: 15px 15px 0 15px;
}
.social{
    padding: 15px;
}
.flex-aligncenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header1{
    background-color: #032a31;
    color:white;
    padding:35px 0.
}
.header1 p{
    color:#9caaad;
}
.element-padding{
    padding:10px 0;
}
.address:nth-child(-n+1){
    border-right: 1px solid #9caaad;
   
}
.socialmedia:nth-child(-n+3){
    border-right: 1px solid #9caaad;
}


.scratch{
    color: rgb(181, 180, 180);
    font-size: 18px;
    font-weight:300;
}
.number{
    color: black;
    font-size: 18px;
    font-weight:600;
}
/* img{
    height:100%;
} */
nav{
    background-color:#813d16;
    /* padding-left:30px ; */
}
nav li{
    list-style-type:none ;
    display:inline;
    font-weight: 400;
}
nav ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap:25px;
    flex-wrap: wrap;
}

nav a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* .fade{
    opacity:0.3 ;
    padding-left:10px;
} */
.nav-padding{
    padding:10px 0;
}
input{
    background: transparent;
    border:none;
    background-color:#996445;
    /* opacity:0.3; */
    color: #ffffff;
    padding:10px;
}
input::placeholder{
    color: white;
}
.search{
    background-color: #996445;
    color: #ffffff;
    padding: 5px;
}
/* .search-icon{
    padding-right: 10px;
} */
.banner{
    background-image: url(./Images/banner.jpg);
    background-repeat: none;
   
    background-size: cover;
    position: relative;
    background-position: 69%;
}
.content1{
    width:50%;
}
.heading{
    font-size:48px;
    color: white;
    font-weight: bolder;
}
.banner-content{
    font-size: 22px;
    color:white;
    padding:60px 0;
    font-weight: 600;
}
.main-content{
    width:50%;
    padding:100px 0;
    position: relative;
    z-index: 2;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    /* z-index: -1; */
}
.padding-right{
    padding-right: 40px;
}
.primary-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color:#ffffff;
    color: #bb612e;
    border: none;
    font-weight: 800;
}
.primary-btn:hover{
    cursor: pointer;
    
}
.hover:hover{
    cursor: pointer;
}

.iconcon{
    font-weight: 600;
}
.working-policy{
    color: white;
    font-size: 18px;
}
.yt img{
    border-radius: 50%;
    background-color: #813d16;
    padding: 15px;
}
footer{
    background-color: #032a31;
    color:white;
    padding:25px 0;
}
.box1{
    padding: 40px;
    width: 16%;
    justify-content: center;
}
.box1:nth-child(-n+5){
    border-right:1px solid #9caaad;
   
}
@media screen and (max-width:500px) {
        .wrapper{
            max-width: 500px;
            padding:15px;
            
        }
        .main-content{
           width:100%;
        }
        .box1{
            width:45%;
        }
       
        .socialmedia{
            width:45%;
        }
        .address{
            width:45%
        }
        .timing{
            width:45%;
        }
        .header1{
            justify-content: center;
        }
        /* .padding{
            padding:5px;
        } */
        .padding-right{
            padding-right:0;
        }
        .box1:nth-child(even){
            border: none;
        }
        .socialmedia:nth-child(even){
            border: none;
        }
        
}