*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font family declaration*/

@font-face {
    font-family:SharpGrotesk-Medium ;
    src: url(./font/SharpGrotesk-Medium.woff);
}
@font-face {
    font-family:WorkSans-Medium ;
    src: url(./font/WorkSans-Medium.woff);
}
@font-face {
    font-family: WorkSans-SemiBold;
    src: url(./font/WorkSans-SemiBold.woff);
}
@font-face {
    font-family: WorkSans-Regular;
    src: url(./font/WorkSans-Regular.woff);
}

/* container declaration */
.container{
    max-width: 1320px;
    margin: 0 auto;
}
body{
    font-family:WorkSans-Medium  ;
    font-size:16px;
}

/* nav bar styling*/
nav{
    padding: 25px 0;
    font-family: WorkSans-SemiBold;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
nav li{
    display: inline;
    list-style-type:none;
}
nav a{
    text-decoration: none;
    padding:15px 30px;
    cursor: pointer;
    color: #000;
}
.vertical-line{
    height:30px;
    border:1px solid #D2D2D2;
}
.primary{
    width:30%;
    font-weight: 700;
    background-color: #FFD560;
    border: 1px solid #000;
    border-radius: 10px;
}


/* reusable flex class declaration*/
.flex{
    display: flex;
    gap: 10px;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}
.flex-justify-content-center{
    display: flex;
    justify-content: center;
}
.gap20{
    gap:20px;
}

/* hero-section designing starts*/

.hero{
    position: relative;
    background-color:#FFF7F1;
    min-height: 800px;
   
}
.hero::before{
    content: '';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image:url(./image/img2.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    height: 450px;
    width:600px;


}
.pagination{
    padding: 30px 0;
}
.pagination ul{
    display: flex;
    justify-content: center;
    gap:20px;
}
.pagination li{
    list-style-type: none;
    padding: 10px 20px;
    border-radius: 20px;
    border:1px solid #D2D2D2;
}
.pagination a{
    text-decoration: none;
    padding: 15px;
    color: #000;
    font-family: WorkSans-SemiBold;
}
.pagination li:first-child{
    background-color: #FFD560;
    border: 1px solid #000;
}

.mid{
    position: relative;
   
    min-height: 400px;
}
/* .mid::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
   
} */
.life{
    width:20%;
}
.life img-container,img{
    width:100%
}
.life p{
    font-size: 42px;
    font-family: WorkSans-SemiBold;
}
.mid-lower-lside{
    width:35%;
}
.mid-upper-rside p{
    font-size: 38px;
    /* font-weight: 800; */
    
}
.mid-upper-rside{
    width: 42%;
    font-family: SharpGrotesk-Medium;
}
.mid-upper-lside{
    width: 42%;
}
.mid-rside{
    width: 35%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap:120px;
}
.mid-lower-rside p{
    font-size:30px;
    font-family: SharpGrotesk-Medium;
}
.mid-lower-rside input{
    width:90%;
    padding:20px 65px 20px 30px;
    border: 2px solid #000;
    border-radius: 10px;
}
.mid-lower-rside a{
    text-decoration: none;
    color: #000;
    padding:15px 30px;
}
.mid-lower-rside{
    width:35%;
}